@import "c/kemStyles";

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 0.25rem 1rem;
}

.span-all {
  grid-column: 1 / -1;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
